.navbar{
    background-color: blue;
}




.main-div{
    display:flex;
    justify-content:space-around;
}


.first-div{
    
    flex-basis:20%;
}


.second-div{
   
    flex-basis:20%;
}

.third-div{
    
    flex-basis:20%; 
}
.links{
    display:flex;
    list-style-type:none;
    background-color:rgb(63, 139, 74);
    color:white;
}